<section>
  <div class="landing landing-1">
    <div class="landing-text">
      <div class="container">
        <h2 class="text-white">About
          <br> The Mentor Missy Project</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 image-abt">
        <img src="../../../assets/img/MentorMissyLogo.png" alt="">
      </div>
      <div class="col-md-6">
        <div class="text-content">
          <h2 class="text-green">Who We Are</h2>
          <p>
            Mentor Missy Project – an intervention project that seeks to increase access to reproductive and sexual health by girls and
            women through distribution of affordable sanitary products. The project employs a technology-enabled innovative
            approach to solving both health and economic concerns around increasing access to hygienic sanitary products
            in low-income communities. Mentor Missy is an initiative of X-Mafem Investments, a social enterprise focused
            on improving the health of women and girls in underserved communities across Africa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="text-content">
      <h2 class="text-green">Our Team</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="team">
          <div class="team-rounded">
            <img src="../../../assets/img/team1.png" alt="">
          </div>
          <h4>Babarinde Ibukun</h4>
          <p class="text-mute">Founder and Project Lead</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team">
          <div class="team-rounded">
            <img src="../../../assets/img/people.jpg" alt="">
          </div>
          <h4>Toba ...</h4>
          <p class="text-mute">Chief Ops Lead</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team">
          <div class="team-rounded">
            <img src="../../../assets/img/bisoye.jpeg" alt="">
          </div>
          <h4>Popoola Bisoye</h4>
          <p class="text-mute">Community Engagement Lead</p>
        </div>
      </div>
    </div>
  </div>
</section>
