<section>
  <div class="landing landing-2">
    <div class="landing-text">
      <div class="container">
        <h2 class="text-white">Past and Upcoming
          <br> Mentor Missy Events</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <article class="mis_artx sm-padding"   *ngFor="let event of events" >
      <div class="row"  >
        <div class="col-md-4 upcoming">
          <div class="mis_row">
            <div class="">
              <h3 class="text-green">UPCOMING</h3>
              <h2 class="text-green">EVENT </h2>
              <h1 class="text-red">{{event.date | date:'d MMM'}}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-8 imaging">
          <div class="side-image">
            <div class="inner-text">
              <h2 class="text-white">{{event.name}}</h2>
              <h5 class="text-white">{{event.date | date: 'longDate'}}</h5>
              <h3 class="text-white">{{event.city}}, {{event.state}}</h3>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
