<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="navbar-brand" href="#">
          <img src="../assets/img/MentorMissyLogoGray.png" width="50" height="45" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <p class="text-mute">
          2, Ayo Adekunle Close,
          <br> New Bodija,
          <br> Ibadan,
          <br> Oyo State.
          <br> Nigeria
        </p>
      </div>
      <div class="col-md-4">
        <div class="site-links">
          <a routerLink="/about" class="text-mute">About Mentor Missy</a>
          <hr/>
          <a routerLink="/events" class="text-mute">Events</a>
          <hr/>
          <a routerLink="/contact" class="text-mute">Contact Us</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-links">
          <p class="text-mute">Follow Our Activities</p>
          <a href="https://web.facebook.com/mentormissy/" class="text-mute"><i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
